
.rightSideBar{
   float:right;
}
.artwork{
   width:600px;
}

.description{
   width:600px;
}

.screenshots{
   display:flex;
   flex-direction: wrap;
   width:100px;
}

.screenshot{
   width:200px;
   margin: 4px;
}

.slider {
   width:500px;
   height:280px;
   margin:"0 auto";
}